body {
  width: 100%; }

#image-wrapper {
  width: 85.71429%; }
  #image-wrapper img {
    width: 100%;
    height: 200px;
    margin-bottom: 100px;
    display: block; }
  #image-wrapper p {
    width: 100%;
    height: 200px;
    margin-bottom: 100px;
    background-color: red; }
